.intro
{
	background-image: url("/assets/front/img/company-bg.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 125px 0;
	.overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		&.blue
		{
			background-color: #308bf6;
			opacity: 0.85;
		}
		&.red
		{
			background-color: #fd0001;
			opacity: 0.85;
		}
		&.green
		{
			background-color: #018b06;
			opacity: 0.85;
		}
	}
	.text
	{
		position: relative;
		z-index: 2;
		color: #fff;
		text-align: center;
		opacity: 1;
		img
		{
			margin: auto;
		}
		.name
		{
			font-size: 62.5px;
			font-weight: 400;
			margin-bottom: 15px;
			line-height: 62px;
		}
		.desc
		{
			font-size: 14.58px;
			font-weight: 400;
		}
		.bred-cramb
		{
			text-align: center;
			font-size: 12.5px;
			margin-top: 25px;
			margin-bottom: -50px;
			a
			{
				color: #fff;
				text-decoration: none;
			}
			.holder
			{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}

.main-content
{
	.side-bar
	{
		.holder
		{
			color: rgba(37,37,37,0.75);
			font-size: 18.62px;
			font-weight: 400;
			margin: 20px 0;
			cursor: pointer;
			padding-left: 0;
			transition: 0.3s all ease;
			border-left: 0px solid #252525;
			&.active, &:hover
			{
				border-left: 7px solid #252525;
				padding-left: 7.5px;
				color: #252525;
			}
		}
	}
	.content-holder
	{
		color: #272727;
		.divider
		{
			width: 100%;
			height: 1px;
			background-color: #a8a8a8;
			border-bottom: 1px solid #e9e9e9;
			padding-bottom: 1px;
			margin: 30px 0;
		}
		.holder
		{
			padding: 25px 0;
			.heading
			{
				width: 100%;
				text-align: left;
				margin-bottom: 25px;
				td
				{
					vertical-align: bottom;
				}
			}
			.title
			{
				color: #252525;
				font-size: 33.33px;
				font-weight: 400;
			}
			.desc
			{
				color: rgba(3,37,37,0.75);
				font-size: 14.58px;
				font-weight: 400;
				white-space: pre-wrap;
			}
		}
	}
}