.intro
{
	background-image: url("/assets/front/img/contact-bg.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 125px 0;
	.overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		&.blue
		{
			background-color: #308bf6;
			opacity: 0.85;
		}
		&.red
		{
			background-color: #fd0001;
			opacity: 0.85;
		}
		&.green
		{
			background-color: #018b06;
			opacity: 0.85;
		}
	}
	.text
	{
		position: relative;
		z-index: 2;
		color: #fff;
		text-align: center;
		opacity: 1;
		img
		{
			margin: auto;
		}
		.name
		{
			font-size: 62.5px;
			font-weight: 400;
			margin-bottom: 15px;
			line-height: 62px;
		}
		.desc
		{
			font-size: 14.58px;
			font-weight: 400;
		}
		.bred-cramb
		{
			text-align: center;
			font-size: 12.5px;
			margin-top: 25px;
			margin-bottom: -50px;
			a
			{
				color: #fff;
				text-decoration: none;
			}
			.holder
			{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.side-bar
{
	.holder
	{
		color: rgba(37,37,37,0.75);
		font-size: 18.62px;
		font-weight: 400;
		margin: 20px 0;
		cursor: pointer;
		padding-left: 0;
		transition: 0.3s all ease;
		border-left: 0px solid #252525;
		&:first-child
		{
			margin-top: 0;
		}
		&.active, &:hover
		{
			border-left: 7px solid #252525;
			padding-left: 7.5px;
			color: #252525;
		}
	}
}
.contact-container
{
	padding: 50px 0;
	.main-title
	{
		color: #252525;
		font-size: 29.17px;
		font-weight: 600;
		margin-bottom: 50px;
	}
	.title
	{
		font-size: 25.01px;
		color: #3a3a3a;
		font-weight: 400;
		margin-bottom: 15px;
	}
	label
	{
		color: #8c8c8c;
		font-size: 14.59px;
		font-weight: 300;
	}
	.form-control
	{
		border-radius: 25px;
		box-shadow: none;
		border-color: #cbcbcb;
		height: 50px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	textarea.form-control
	{
		height: 150px;
		resize: none;
	}
	.btn
	{
		border: 0;
		border-radius: 25px;
		background: none;
		background-color: #fe0002;
		font-size: 12.5px;
		font-weight: 700;
		text-shadow: none;
		padding: 6px 30px;
		padding: 15px 25px;
		text-transform: uppercase;
		width: 150px;
	}
	.info
	{
		margin-bottom: 25px;
		td
		{
			vertical-align: top;
		}
		.icon
		{
			width: 30px;
			.fa
			{
				color: #aeaeae;
				font-size: 25px;
			}
			.fa-envelope
			{
				font-size: 15px;
			}
		}
		.text
		{
			color: #282828;
			font-size: 14.58px;
			padding-bottom: 20px;
			font-weight: 300;
		}
	}
}

.map-container
{
	padding: 30px 0 60px;
	padding-bottom: 0;
	color: #2195c1;
	margin-bottom: -40px;
	.title
	{
		color: #252525;
		font-size: 29.17px;
		font-weight: 600;
		margin-bottom: 50px;
		text-align: center;
	}
	iframe
	{

	}
}

.content-holder
{
	.content-title
	{
		color: #252525;
		font-weight: 600;
		font-size: 29.17px;
		margin-bottom: 25px;
	}
	.content-desc
	{
		color: rgba(37,37,37,0.75);
		font-size: 14px;
		white-space: pre-wrap;
	}
}