@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body, html
{
	font-family: "Open Sans", sans-serif;
	color: #191919;
}
.row-no-padding 
{
	margin-left: 0;
	margin-right: 0;
	> [class*="col-"]
	{
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	}
}
.container
{
	@media screen and (min-width: 1200px)
	{
	    width: 980px;
	}
}
.modal 
{
  text-align: center;
}

@media screen and (min-width: 768px) 
{ 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog 
{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* Custom Buttons */
.btn-orange
{
	border-radius: 0;
	background-color: #f39a00;
	color: #fff;
	&:hover, &:focus, &:active
	{
		color: #fff;
	}
}
.btn-yellow
{
	border-radius: 0;
	background-color: #ffd200;
	color: #fff;
	&:hover, &:focus, &:active
	{
		color: #fff;
	}
}
.btn-transparent
{
	border-radius: 0;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	&:hover, &:focus, &:active
	{
		color: #fff;
	}
}
/* Cart */
.cart-modal
{
	.modal-dialog
	{
		.modal-content
		{
			border-radius: 0;
			.modal-body
			{
				.cart-header
				{
					background-color: #2195c1;
					margin-top: -15px;
					margin-left: -15px;
					margin-right: -15px;
					padding: 10px 15px;
					.close
					{
						color: #fff;
						opacity: 1;
						text-shadow: none;
					}
					.cart-icon
					{
						display: inline-block;
						vertical-align: middle;
						margin-right: 15px;
					}
					.text
					{
						display: inline-block;
						vertical-align: middle;
						color: #fff;
						font-size: 14.58px;
						font-weight: 700;
					}
				}
				.table-holder
				{

					margin-left: -15px;
					margin-bottom: -15px;
					margin-right: -15px;
					.table
					{
						margin: 0;
						th,td
						{
							text-align: center;
							border: 0;
						}
						th
						{
							color: #2195c1;
							font-size: 12.5px;
							font-weight: 700;
						}
						.img
						{
							max-width: 75px;
							border: 1px solid #c9c9c9;
						}
						.stripe
						{
							td
							{
								padding-top: 5px;
								padding-bottom: 5px;
							}
						}
						.stripe:nth-child(odd)
						{
							td
							{
								background-color: #ebf5f8;
							}
						}
						td
						{
							color: #343434;
							font-size: 12.5px;
							font-weight: 700;
							vertical-align: middle;
							&.name
							{
								font-weight: 300;
								font-size: 14.58px;
							}
						}
						.btn
						{
							width: 100%;
							font-size: 12.5px;
							font-weight: 700;
							background-color: #b14499;
						}
					}
				}
			}
		}
	}
}
/* Account */
.account-modal
{
	.modal-dialog
	{
		.modal-content
		{
			border-radius: 0;
			.modal-body
			{
				.color-header
				{
					margin-top: -20px;
					margin-left: -15px;
					margin-right: -15px;
					img
					{
						width: 100%;
					}
				}
				.account-tab
				{
					border-bottom: 1px solid #d6d6d6;
					.holder
					{
						float: left;
						padding: 7.5px 15px;
						color: #191919;
						font-weight: 300;
						font-size: 12.5px;
						cursor: pointer;
						&.active
						{
							background-color: #353535;
							color: #fff;
							font-weight: 700;
						}
					}
				}
				.account-content
				{
					max-width: 400px;
					margin: 50px auto;
					.logo
					{
						text-align: center;
						margin-bottom: 25px;
					}
					.form-control
					{
						border-radius: 0;
						box-shadow: none;
						font-size: 12.5px;
					}
					.btn
					{
						font-weight: 700;
						font-size: 12.5px;
						width: 100%;
						background-color: #b14499;
					}
					.forgot
					{
						color: #191919;
						font-size: 10.42px;
						font-weight: 300;
						margin-top: 10px;
					}
				}
			}
		}
	}
}

.loader-container
{
	position: fixed;
	background-color: #fff;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	.loader
	{
		position: fixed;
		top: 50%;
		top: calc(50% - 30px);
		left: 0;
		right: 0;
		text-align: center;
		z-index: 99999;
		img
		{
			width: 60px;
			height: 60px;
		}
	}
}
.list
{
	text-align: center;
	position: relative;
	overflow: hidden;
	@media screen and (max-width: 768px)
	{
		margin-bottom: 25px;
	}
	.img
	{
		img
		{
			width: 100%;
		}
	}
	.info
	{
		padding: 10px 10px 7.5px 15px;
		text-align: left;
		position: absolute;
		bottom: -45px;
		left: 0;
		right: 0;
		transition: 0.3s all ease;
		&.blue
		{
			background-color: rgba(48,139,256,0.9);
		}
		&.red
		{
			background-color: rgba(250,1,0,0.9);
		}
		&.green
		{
			background-color: rgba(1,139,6,0.9);
		}
		.name
		{
			font-size: 20.83px;
			font-weight: 600;
			color: #fff;
		}
		.desc
		{
			font-weight: 600;
			font-size: 14.58px;
			color: rgba(255,255,255,0.5);
			margin-bottom: 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.text
		{
			color: #fff;
			font-size: 14.58px;
			font-weight: 600;
			padding: 5px 0;
			img
			{
				margin-left: 7.5px;
			}
			&.right
			{
				text-align: right;
				padding: 0;
				cursor: pointer;
			}
		}
	}
	&:hover
	{
		.info
		{
			bottom: 0;
		}
	}
}
.btn-holder
{
	cursor: pointer;
	.cart-but
	{
		display: inline-block;
		background-color: #191919;
		margin-right: -3px;
		padding: 5.5px 10px;
		vertical-align: middle;
	}
	.btn
	{
		display: inline-block;
		background: none;
		border: 0;
		background-color: #b14499;
		color: #fff;
		vertical-align: middle;
		border-radius: 0;
		padding: 6px 20px;
		font-weight: 700;
	}
}
.header-nav
{
	background-color: #252525;
	padding: 7.5px 0;
	color: rgba(255,255,255,0.5);
	a
	{
		color: rgba(255,255,255,0.5);
	}
	.pull-right
	{
		text-align: right;
		.text:last-child
		{
			padding-right: 0;
		}
	}
	.pull-left
	{
		.text:first-child
		{
			padding-left: 0;
		}
	}
	.pull-right, .pull-left
	{
		@media screen and (max-width: 410px)
		{
			float: none !important;
			text-align: center;
			padding: 5px 0;
		}
	}
	.text
	{
		font-size: 10.42px;
		font-weight: 600;
		display: inline-block;
		vertical-align: middle;
		padding: 0 5px;
		span
		{
			font-size: 12.5px;
		}
	}
}

.navbar
{
	border: 0;
	margin: 0;
	background-color: #fff;
	border-radius: 0;
	-moz-box-shadow: 0 4px 15px -2px rgba(0,0,0,0.32);
	-webkit-box-shadow: 0 4px 15px -2px rgba(0,0,0,0.32);
	box-shadow: 0 4px 15px -2px rgba(0,0,0,0.32);
	z-index: 100;
	.navbar-brand
	{
		@media screen and (min-width: 768px)
		{
			padding: 0;
			padding: 20px 0;
		}
		height: auto;
	}
	.navbar-toggle
	{
		margin: 18px 15px;
		.icon-bar
		{
			background-color: #191919;
		}
	}
	.navbar-collapse
	{
		@media screen and (min-width: 768px)
		{
			padding: 0;
		}
	}
	.cart-holder
	{
		> div
		{
			display: inline-block;
			vertical-align: middle;
		}
		.cart-qty
		{
			color: #116788;
			text-align: center;
			width: 20px;
			height: 20px;
			background-color: #fff;
			border-radius: 100%;
			line-height: 20px;
			font-size: 13.84px;
			padding: 7.5px;
			box-sizing: content-box;
			font-weight: 700;
		}
		.cart-icon
		{
			margin-left: 7.5px;
		}
		.cart-label
		{
			color: #e4e4e4;
			padding: 15px;
		}
	}
	.search-form
	{
		.form-group
		{
			@media screen and (min-width: 768px)
			{
				margin-right: -5px;
			}
			.form-control
			{
				border-radius: 0;
				border: 1px solid #4daacd;	
			}
		}
		.btn
		{
			background: none;
			border: 0;
			background-color: #b14499;
			border-radius: 0;
			text-shadow: none;
			color: #fff;
		}
	}
	.navbar-nav
	{
		> li
		{
			position: static;
			> a
			{
				color: #121640;
				font-weight: 600;
				text-shadow: none;
				transition: 0.3s all ease;
				@media screen and (min-width: 768px)
				{
					padding: 34px 15px;
					font-size: 12.5px;
					&:hover
					{
						background-color: transparent;
						-webkit-box-shadow: inset 0px -5px 0px 0px #121640;
					    -moz-box-shadow: inset 0px -5px 0px 0px #121640;
					    box-shadow: inset 0px -5px 0px 0px #121640;
					}
					@media screen and (max-width: 991px)
					{
						padding: 35px 7.5px;
					}
				}
				&:hover + .sub-cat
				{
					transform: scale(1,1);
				}
			}
			@media screen and (min-width: 768px)
			{
				&.active
				{
					> a
					{
						background-color: transparent;
						-webkit-box-shadow: inset 0px -5px 0px 0px #121640;
					    -moz-box-shadow: inset 0px -5px 0px 0px #121640;
					    box-shadow: inset 0px -5px 0px 0px #121640;
					}
				}
			}
			.sub-cat
			{
				// display: none;
				background-color: #116788;
				position: absolute;
				width: 100%;
				padding: 0;
				margin: 0;
				left: 0;
				right: 0;
				z-index: 10;
				transform: scale(1,0);
				transition: 0.3s all ease;
				transform-origin: top;
				&:hover
				{
					transform: scale(1,1);
				}
				li
				{
					display: block;
					@media screen and (min-width: 768px)
					{
						float: left;
					}
					> a
					{
						color: #e4e4e4;
						font-size: 13.84px;
						font-weight: 300;
						text-shadow: none;
						transition: 0.3s all ease;
						padding: 15px 25px;
						display: block;
						&:hover
						{
							background-color: #0a4c65;
							text-decoration: none;
						}
					}
					&.active
					{
						> a
						{
							background-color: #0a4c65;
						}
					}
				}
			}
		}
	}
}

footer
{
	background-color: #252525;
	color: #fff;
	padding: 25px 0;
	margin-top: 40px;
	.copyright
	{
		font-size: 13.84px;
		color: #fff;
		opacity: 0.5;
		text-align: center;
		font-weight: 300;
		margin-bottom: -15px;
		margin-top: 50px;
	}
	.col-md-3
	{
		@media screen and (max-width: 991px)
		{
			margin-bottom: 25px;
		}
	}
	.title
	{
		font-weight: 700;
		font-size: 18.75px;
		margin-bottom: 15px;
		color: rgba(255,255,255,0.75);
	}
	.content
	{
		ul
		{
			margin: 0;
			padding: 0;
			li
			{
				display: block;
				margin: 10px 0;
				a
				{
					font-size: 12.5px;
					color: rgba(255,255,255,0.5);
					font-weight: 400;
				}
			}
		}
		p
		{
			font-size: 13.84px;
			color: #fff;
			margin: 0;
			font-weight: 300;
		}
		.newsletter-button
		{
			text-align: center;
			margin-top: 20px;
			input[type="email"]
			{
				background-color: #0f516a;
				border: 0;
				border-radius: 0;
				border: 1px solid #2d687e;
				background-image: url("/assets/front/img/plane-icon.png");
				background-repeat: no-repeat;
				background-position: 98% 4px;
			}
		}
		.social-icon
		{
			.holder
			{
				display: inline-block;
				vertical-align: top;
				margin-right: 5px;
				&:last-child
				{
					margin-right: 0;
				}
				.fa
				{
					background-color: #313131;
					border-radius: 100%;
					padding: 10px;
					line-height: 20px;
					font-size: 20px;
					height: 20px;
					width: 20px;
					box-sizing: content-box;
					text-align: center;
					color: #a1a1a1;
				}
			}
		}
	}
}