.intro
{
	background-image: url("/assets/front/img/home-bg.jpg");
	background-size: cover;
	padding: 75px 0;
	.text
	{
		color: #fff;
		font-weight: 600;
		text-align: center;
		.ichi
		{
			font-size: 50px;
			line-height: 50px;
			@media screen and (max-width: 991px)
			{
				font-size: 25px;
				line-height: 25px;
			}
		}
		.ni
		{
			font-size: 62.5px;
			line-height: 62.5px;
			@media screen and (max-width: 991px)
			{
				font-size: 30px;
				line-height: 30px;
			}
		}
		.san
		{
			font-size: 33.33px;
			line-height: 33.33px;
			padding-top: 50px;
			@media screen and (max-width: 991px)
			{
				font-size: 16px;
				line-height: 16px;
			}
		}
		.intro-btn
		{
			position: relative;
			margin-top: 50px;
			.line
			{
				background-color: #fff;
				height: 1px;
				width: 100%;
				position: absolute;
				z-index: 1;
				top: 25px;
				display: none;
			}
			.btn-container
			{
				position: relative;
				z-index: 2;
				display: inline-block;
				.btn
				{
					background-color: transparent;
					z-index: 2;
					border-radius: 3px;
					border: 1px solid #fff;
					font-size: 25px;
					font-weight: 700;
					padding: 15px 30px;
					color: #fff;
				}
			}
		}
		.bottom-arrow
		{
			display: inline-block;
			border-radius: 100%;
			cursor: pointer;
			margin-top: 75px;
			transition: 0.3s all ease;
			margin-bottom: -75px;
			&:hover
			{
				background-color: #252525;
			}
			img
			{

			}
		}
	}
}

.about
{
	.nav-tabs
	{
		li
		{
			a
			{
				margin-left: -1px;
				padding: 15px 0;
			}
			&:first-child
			{
				a
				{
					margin-left: 0;
					border-left: 0 !important;
				}
			}
			&:last-child
			{
				a
				{
					border-right: 0 !important;
				}
			}
			a
			{
				border: 1px solid #b2b2b2;
				border-bottom: 1px solid #cbcbcb;
				border-radius: 0;
				color: #6b6b6b;
				font-size: 16.67px;
				font-weight: 400;
				&:hover, &:focus
				{
					color: #292828;
					font-size: 16.67px;
					// font-weight: 600;
					border: 1px solid #b2b2b2;
					border-bottom: 1px solid #cbcbcb;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ececec+100 */
					background: #ffffff; /* Old browsers */
					background: -moz-linear-gradient(top,  #ffffff 0%, #ececec 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  #ffffff 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
				}
			}
			&.active
			{
				a
				{
					color: #292828;
					font-size: 16.67px;
					font-weight: 600;
					border: 1px solid #b2b2b2;
					border-bottom: 1px solid #cbcbcb;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ececec+100 */
					background: #ffffff; /* Old browsers */
					background: -moz-linear-gradient(top,  #ffffff 0%, #ececec 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  #ffffff 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
					&:hover, &:focus
					{
						border: 1px solid #b2b2b2;
						border-bottom: 1px solid #cbcbcb;
					}
				}
			}
			a
			{
				border-top: 0 !important;
			}
		}
	}
	.tab-content
	{
		padding-top: 25px;
		h3
		{
			color: #292828;
			font-weight: 600;
			font-size: 25px;
			letter-spacing: 1px;
			margin-bottom: 25px;
		}
		p
		{
			color: #6b6b6b;
			font-size: 14.58px;
			font-weight: 400;
			line-height: 25px;
			margin-bottom: 50px;
		}
		.btn
		{
			background-color: #308bf6;
			font-size: 16.67px;
			font-weight: 600;
			color: #fff;
			padding: 12.5px 25px;
		}
	}
}

.product
{
	text-align: center;
	padding: 50px 0;
	.title
	{
		color: #272727;
		font-size: 18.75px;
		font-weight: 400;
		text-align: center;
		margin: 75px 0;
		span
		{
			font-weight: 700;
		}
	}
	.sub
	{
		color: #2a2a2a;
		font-size: 11.84px;
		font-weight: 300;
		margin-bottom: 50px;
	}
}

.ending
{
	color: #272727;
	font-size: 18.75px;
	font-weight: 400;
	.btn
	{
		color: #308bf6;
		font-weight: 700;
		font-size: 25px;
		border: 2px solid #308bf6;
		border-radius: 5px;
		background-color: #fff;
		letter-spacing: 1px;
		padding: 15px 25px;
		margin-top: 15px;
	}
}