.intro
{
	background-image: url("/assets/front/img/opportunity-bg.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 75px 0;
	.overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(48,139,246,0.85);
		z-index: 1;
	}
	.text
	{
		position: relative;
		z-index: 2;
		color: #fff;
		text-align: center;
		img
		{
			margin: auto;
		}
		.name
		{
			font-size: 37.5px;
			font-weight: 400;
			margin-bottom: 25px;
		}
		.desc
		{
			font-size: 14.58px;
			font-weight: 400;
		}
	}
}
.main-content
{
	.side-bar
	{
		.holder
		{
			color: rgba(37,37,37,0.75);
			font-size: 18.62px;
			font-weight: 400;
			margin: 20px 0;
			cursor: pointer;
			padding-left: 0;
			transition: 0.3s all ease;
			border-left: 0px solid #252525;
			&.active, &:hover
			{
				border-left: 7px solid #252525;
				padding-left: 7.5px;
				color: #252525;
			}
		}
	}
	.content-holder
	{
		color: #272727;
		.divider
		{
			width: 100%;
			height: 1px;
			background-color: #a8a8a8;
			border-bottom: 1px solid #e9e9e9;
			padding-bottom: 1px;
			margin: 30px 0;
		}
		.quick-start
		{
			text-align: center;
			padding: 50px 0;
			.honto
			{
				font-size: 16.68px;
				line-height: 16px;
				margin: 5px 0;
			}
			.dakedo
			{
				font-size: 33.29px;
				line-height: 33px;
				margin: 5px 0;
			}
			.img
			{
				margin-bottom: 50px;
			}
		}
		.getting-started
		{
			padding: 50px 0;
			.title
			{
				margin-bottom: 15px;
				color: #252525;
				font-size: 29.17px;
				font-weight: 600;
			}
			.desc
			{
				white-space: pre-wrap;
				color: rgba(37,37,37,0.75);
				font-size: 12.5px;
				line-height: 20px;
			}
		}
		.compensation-plan
		{
			color: #252525;
			padding: 50px 0;
			.title
			{
				font-size: 33.33px;
				font-weight: 600;
				margin-bottom: 15px;
			}
			.desc
			{
				white-space: pre-wrap;
				color: rgba(37,37,37,0.75);
				font-size: 12.5px;
				line-height: 20px;
			}
			.img-responsive
			{
				margin: 50px auto;
			}
			.table
			{
				margin-top: 25px;
			}
		}
	}
}