.intro
{
	background-image: url("/assets/front/img/product-bg.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 75px 0;
	.overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(48,139,246,0.85);
		z-index: 1;
	}
	.text
	{
		position: relative;
		z-index: 2;
		color: #fff;
		text-align: center;
		img
		{
			margin: auto;
		}
		.name
		{
			font-size: 37.5px;
			font-weight: 700;
			margin-bottom: 25px;
		}
		.desc
		{
			font-size: 14.58px;
			font-weight: 400;
		}
	}
}
.main-content
{
	.holder
	{
		text-align: center;
		border-top: 4px solid;
		padding-top: 50px;
		padding-bottom: 25px;
		&.blue
		{
			border-color: #308bf6;
			.icon
			{
				background-color: #308bf6;
			}
			.name
			{
				color: #308bf6;
			}
			.btn
			{
				border-color: #308bf6;
				color: #308bf6;
			}
		}
		&.red
		{
			border-color: #fd0001;
			.icon
			{
				background-color: #fd0001;
			}
			.name
			{
				color: #fd0001;
			}
			.btn
			{
				border-color: #fd0001;
				color: #fd0001;
			}
		}
		&.green
		{
			border-color: #018b06;
			.icon
			{
				background-color: #018b06;
			}
			.name
			{
				color: #018b06;
			}
			.btn
			{
				border-color: #018b06;
				color: #018b06;
			}
		}
		.icon
		{
			display: inline-block;
			padding: 25px;
			border-radius: 100%;
		}
		.name
		{
			font-size: 18.75px;
			font-weight: 700;
			margin: 15px 0 25px;
		}
		.desc
		{
			color: #767676;
			font-size: 14.58px;
			font-weight: 400;
			line-height: 30px;
			padding: 0 15px;
		}
		.btn
		{
			border: 0;
			border-radius: 0;
			background: none;
			font-size: 16.67px;
			font-weight: 600;
			border: 2px solid;
			border-radius: 4px;
			margin-top: 25px;
		}
	}
}