.content
{
	.intro
	{
		background-image: url("/assets/front/img/main-product-bg.jpg");
		background-size: cover;
		background-position: center;
		position: relative;
		padding: 75px 0;
		.overlay
		{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			&.blue
			{
				background-color: #308bf6;
				opacity: 0.85;
			}
			&.red
			{
				background-color: #fd0001;
				opacity: 0.85;
			}
			&.green
			{
				background-color: #018b06;
				opacity: 0.85;
			}
		}
		.text
		{
			position: relative;
			z-index: 2;
			color: #fff;
			text-align: center;
			img
			{
				margin: auto;
			}
			.name
			{
				font-size: 37.5px;
				font-weight: 700;
				margin-bottom: 25px;
			}
			.desc
			{
				font-size: 14.58px;
				font-weight: 400;
			}
		}
	}
	.single-product
	{
		margin-top: 75px;
		.title
		{
			font-size: 16.67px;
			font-weight: 700;
			margin: 40px 0;
			text-align: center;
		}
		.list
		{
			margin-bottom: 40px;
		}
	}
}