.intro
{
	background-image: url("/assets/front/img/update-bg.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 125px 0;
	.overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		&.blue
		{
			background-color: #308bf6;
			opacity: 0.85;
		}
		&.red
		{
			background-color: #fd0001;
			opacity: 0.85;
		}
		&.green
		{
			background-color: #018b06;
			opacity: 0.85;
		}
	}
	.text
	{
		position: relative;
		z-index: 2;
		color: #fff;
		text-align: center;
		opacity: 1;
		img
		{
			margin: auto;
		}
		.name
		{
			font-size: 62.5px;
			font-weight: 400;
			margin-bottom: 15px;
			line-height: 62px;
		}
		.desc
		{
			font-size: 14.58px;
			font-weight: 400;
		}
		.bred-cramb
		{
			text-align: center;
			font-size: 12.5px;
			margin-top: 25px;
			margin-bottom: -50px;
			a
			{
				color: #fff;
				text-decoration: none;
			}
			.holder
			{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}

.main-content
{
	padding: 25px 0 0;
	margin-bottom: -40px;
	.title
	{
		font-size: 50px;
		color: #252525;
		font-weight: 400;
		line-height: 50px;
		margin-bottom: 5px;
	}
	.sub
	{
		color: rgba(37,37,37,0.75);
		font-size: 14.58px;
		font-weight: 400;
		margin-top: 7.5px;
	}
	.news-holder
	{
		padding: 50px 0;
		.img
		{
			width: 100%;
		}
		.name
		{
			color: #252525;
			font-size: 25px;
			font-weight: 600;
		}
		.date
		{
			color: rgba(37,37,37,0.50);
			font-size: 12.5px;
		}
		.desc
		{
			margin-top: 20px;
			color: rgba(37,37,37,0.75);
			font-size: 14.58px;
			white-spacing: pre-wrap;
		}
	}
	.product-holder
	{
		margin-top: 30px;
		.product-name
		{
			color: #006691;
			font-weight: 600;
			font-size: 25px;
		}
		.product-sub
		{
			color: #252525;
			font-size: 16.67px;
			font-weight: 600;
		}
		.product-desc
		{
			margin: 15px 0;
			color: rgba(36,36,36,0.75);
			font-size: 14.58px;
			font-weight: 400;
		}
		.product-tag
		{
			color: #252525;
			font-weight: 700;
			font-size: 25px;
		}
	}
	.subscribe
	{
		background-image: url("/assets/front/img/subscribe-bg.jpg");
		background-size: cover;
		background-position: center;
		color: #fff;
		text-align: center;
		padding: 75px 0;
		margin-top: 50px;
		.subscribe-title
		{
			color: #f8f8f8;
			font-size: 50px;
			font-weight: 600;
		}
		.subscribe-sub
		{
			font-size: 25px;
			color: #f8f8f8;
			margin-bottom: 35px;
		}
		.form-control
		{
			border-radius: 25px;
			height: 45px;
			border: 1px solid #fff;
			background-color: transparent;
			max-width: 330px;
			margin: auto;
			text-align: center;
			font-size: 12.5px;
			color: rgba(248,248,248,0.75);
			transition: 0.3s all ease;
			&:focus, &:active
			{
				background-color: #fff;
				color: #1a1a1a;
			}
		}
		.form-control::-webkit-input-placeholder 
		{
		   color: rgba(248,248,248,0.75);
		}

		.form-control:-moz-placeholder 
		{ /* Firefox 18- */
		   color: rgba(248,248,248,0.75);
		}

		.form-control::-moz-placeholder
		{  /* Firefox 19+ */
		   color: rgba(248,248,248,0.75);
		}

		.form-control:-ms-input-placeholder 
		{  
		   color: rgba(248,248,248,0.75);
		}
		.btn
		{
			background: none;
			background-color: #fc0100;
			border: 0;
			border-radius: 25px;
			height: 45px;
			width: 100%;
			max-width: 330px;
			color: #f8f8f8;
			font-size: 14.58px;
			font-weight: 600;
		}
	}
}