.intro
{
	background-image: url("/assets/front/img/main-product-bg.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 75px 0;
	.overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		&.blue
		{
			background-color: #308bf6;
			opacity: 0.85;
		}
		&.red
		{
			background-color: #fd0001;
			opacity: 0.85;
		}
		&.green
		{
			background-color: #018b06;
			opacity: 0.85;
		}
	}
	.text
	{
		position: relative;
		z-index: 2;
		color: #fff;
		text-align: center;
		img
		{
			margin: auto;
		}
		.name
		{
			font-size: 37.5px;
			font-weight: 700;
			margin-bottom: 25px;
		}
		.desc
		{
			font-size: 14.58px;
			font-weight: 400;
		}
		.bred-cramb
		{
			text-align: center;
			font-size: 12.5px;
			margin-top: 25px;
			margin-bottom: -50px;
			a
			{
				color: #fff;
				text-decoration: none;
			}
			.holder
			{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.image
{
	img
	{
		width: 100%;
		// border: 1px solid #c9c9c9;
	}
}
.product
{
	margin-top: 50px;
	.info
	{
		background-color: #f9f9f9;
		padding: 20px;
		text-align: left;
		padding-top: 0;
		// border: 1px solid #c5c5c5;
		.name
		{
			position: relative;
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: 15px;
			&:after
			{
				background: #a97418;
				content: "";
				width: 60px;
				height: 1px;
				position: absolute;
				top: 28px;
				left: 0px;
			}
			&.title
			{
				&:after
				{
					top: 37px;
				}
				h2
				{
					color: #0f0f0f;
					font-size: 25px;
				}
			}
			h2
			{
				font-size: 16.67px;
				font-weight: 700;
				margin-top: 0;
				color: #0f0f0f;
			}
		}
		.desc
		{
			font-size: 14.58px;
			color: #6b6b6b;
			font-weight: 400;
			margin-bottom: 50px;
		}
		.rate
		{
			margin-bottom: 5px;
		}
		.price
		{
			font-size: 20.83px;
			font-weight: 700;
			margin-bottom: 5px;
			color: #b14499;
		}
		.stock
		{
			font-size: 14.58px;
			font-weight: 300;
		}
		.quantity
		{
			table
			{
				margin-left: auto;
			}
			.adjust
			{
				background-color: #191919;
				color: #fff;
				font-size: 14.58px;
				font-weight: 300;
				padding: 7px 20px;
			}
			.input-adjust
			{
				border-radius: 0;
				box-shadow: none;
				border: 0;
				border: 1px solid #9d9d9d;
				width: 180px;
			}
		}
		.add-cart
		{
			text-align: right;
			margin-top: 15px;
			.btn
			{
				text-align: center;
				background-color: #b14499;
				color: #fff;
				border: 0;
				border-radius: 0;
				font-size: 14.58px;
				font-weight: 700;
				width: 273px;
				img
				{
					margin-left: 10px;
				}
			}
		}
	}
}
.related
{
	.title
	{
		font-size: 29.17px;
		font-weight: 600;
		margin: 40px 0;
		text-align: left;
		color: #252525;
	}
}
.ending
{
	color: #272727;
	font-size: 18.75px;
	font-weight: 400;
	padding: 50px 0 0;
	.btn
	{
		color: #308bf6;
		font-weight: 700;
		font-size: 25px;
		border: 2px solid #308bf6;
		border-radius: 5px;
		background-color: #fff;
		letter-spacing: 1px;
		padding: 15px 25px;
		margin-top: 15px;
	}
}