body
{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #EBEEF0;
}

table
{
    table-layout: fixed;
    text-align: center;
}
table th
{
    text-align: center;
    cursor: pointer;
}
table th.sorting_asc
{
    background-color: #F7F7F7;
}
table th.sorting_desc
{
    background-color: #F7F7F7;
}
.option-col
{
    width: 80px;
}
.panel-heading
{
    background-color: #48B5CE !important;
    border-bottom: 1px solid #48B5CE !important;
    color: #fff !important;
}
.board-container
{
    text-align: center;
}
.number-board
{
    background-color: #55C6E0;
    color: #fff;
    display: inline-block;
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 10px;
    width: 180px;
}
.number-board .count
{
    font-size: 30px;
    padding: 20px;
}
.number-board .label
{
    font-size: 14px;
    line-height: 14px;
    font-weight: lighter;
    background-color: #48B5CE;
    width: 100%;
    padding: 5px 10px;
    border-radius: 0;
}

.graph-container
{
    padding-top: 15px;
}
.panel-primary
{
    border: none !important;
}
.product-type-container
{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    padding-left: 20px;
}
.unselectable
{
    -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;

}
img
{
    max-width: 100%;
}
.no-style-ul ul
{
    margin: 0;
    padding-left: 30px;
}
.no-style-ul li
{
    list-style: none;
}
.no-style-ul label
{
    margin: 0;
}
.dataTables_paginate
{
    text-align: right;
}
.dataTables_filter
{
    text-align: right;
}
.featured
{
    color: #777;
    cursor: pointer;
}
.featured.active
{
    color: #4293C2;
}

.product-active
{
    color: #777;
    cursor: pointer;
}
.product-active.active, .product-type-active.active
{
    color: #4293C2;
}


.red
{
    color: red;
}
.icon-big
{
    font-size: 16px;
    margin-top:8px;
}
.borderless
{
    border: none;
}
.width-200
{
    width: 200px;
}
.top-space-small
{
    margin-top:5px;
}
.hide
{
    display: none;
}
.table
{
    background-color: #fff;
}
.feature-image-img
{
    border: 2px solid #ddd;
}
.bold
{
    font-weight: bold;
}
.space
{
    margin: 0 20px;
}
.space-top
{
    margin-top: 20px;
}
.space-bottom
{
    margin-bottom: 20px;
}

.form-group-container
{
    padding: 40px 10px;
    border: 1px solid #ddd;
    overflow: auto;
    border-radius: 3px;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.form-group-container textarea
{
    resize: none;
    height: 100px;
}
.form-separator
{
    height: 3px;
    background-color: #fff;
    width: 100%;
    margin: 5px auto;
    margin-top: 50px;
    padding-top: 10px;
}
.form-subtitle
{
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #444;
    background-color: #4293C2;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
}

.pagination
{
    margin: 0;
}
.header
{
}
.header .title
{
    margin-bottom: 20px;
}
.header .title h2
{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 25px;
}
.header .buttons
{
    margin-top: 15px;
}
.header .buttons button
{
}

.filters
{
}
.filters a
{
    color: #4293C2;
    margin: 0 5px;
    display: inline-block;
    margin-bottom: 20px;
}
.filters a:hover
{
    text-decoration: none;
}
.filters a.active
{
    padding: 5px 10px;
    background-color: #4293C2;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
}
.gray
{
    color: #777;
}
label
{
    font-weight: normal;
}

.upload-image
{
    height: 200px;
    width: 100%;
    background-image: url('../img/upload-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}
.upload-image .label
{
    position: absolute;
    top: 150px;
    color: #ADB4BC;
    text-transform: uppercase;
    font-weight: 400;
    left: 0;
    right: 0;
    text-align: center;
}

.prodtype-thumb
{
    width: 70px;;
    max-width 100%;
}

.slider-thumb
{
    display: ;
}

.slider-thumb button
{
  position: absolute;
  top: 5px;
  right: 20px;
  display: none;

}


.slider-thumb:hover button
{
    display: block;
}

.product-images-panel
{
      overflow-x: hidden;
}

.product-images-panel .header-container {
      margin-bottom: 20px;
}
.product-images-panel .header-container h3
{
      margin: 0;
}
.product-images-panel .header-container button
{

}

.feature-img-thumb-prod-variant-container img{
    max-width: 50px;
    max-height: 50px;
}

.table-bordered>tbody>tr>td {
    vertical-align: middle;
}

.fa{
    cursor: pointer;
}

.prod-thumb-select{
    color: #777;
}

.prod-thumb-select.seleted{
    color: #4293C2;
}
#messages-main-container .message-container
{
    word-wrap: break-word;
}

.glyphicon-refresh-animate 
{
    font-size: 20px;
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

.loading-effect .glyphicon-refresh-animate
{
    font-size: 35px;
    margin-bottom: 10px;
}

@keyframes spin
{
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw
{
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm
{
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.loading-indicator {
    text-align: center;
}

.loading-effect-process
{
      font-size: 18px;
}

/* CSS NI EDWARD */
.dashboard-header
{
    margin: 0 10px 20px;
}
.update-header
{
    margin: 20px 10px;
}
.panel
{

}

.panel-header
{
    
}

.panel-header-tab
{
    display: inline-block;
    vertical-align: top;
    background-color: #337ab7;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
}
.update
{
    min-height: 300px;
}
.update-holder
{
    overflow: auto;
    padding: 2px 20px;
}

.update-content
{
    float: left;
    text-align: left;
}

.update-content a
{
    font-weight: 600;
}

.update-time
{
    float: right;
    color: #bbb;
    text-align: right;
}

.update-name
{
    font-weight: 700;

}

.update-time
{

}

.nopadding
{
    padding: 0;
}

.order-holder
{
    border-bottom: 2px #DDDDDD solid;
    padding: 10px 0;
    font-size: 12px;
}

.order-name
{
    display: table-cell;    
    font-weight: 600;
}

.order-price
{
    display: table-cell;
    font-weight: 600;
}

.order-button
{
    background-color: #2b6ea5;
    border: none;
    width: 100%;
    padding: 5px 0;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

/* ADMIN ROLE */
.admin-role-content
{
    background-color: #fcfcfc;
    min-height: 300px;
    border-radius: 2px;
    moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    border: 1px solid #ddd;
}

.admin-role-header
{
    color: #111;
    font-size: 18px;
    padding: 20px 10px;
    border-bottom: 1px solid #e7e7e7;
}

.admin-role-button
{
    margin: 20px 0;
}

.admin-role-table a
{
    color: #666 !important;
}

.admin-role-table .fa
{
    margin: 0 5px;
}

.admin-role-table table
{
    table-layout: fixed;
    width: 100%;
    text-transform: uppercase;
}

.admin-role-table thead
{
    color: #444 !important;
    font-weight: 800 !important;
}

.admin-role-table tbody
{
    color: #636e7b;
}

.admin-role-table td
{
    padding: 10px !important;
}

.admin-role-table tbody tr:hover
{
    background-color: #F5F5F5;
}

.admin-role-add
{
    padding: 0;
}

.admin-role-add-holder
{
    border-bottom: #d3d7db 1px solid;
    padding: 20px 0;
    background-color: #FCFCFC;
}


.prod-coupon-toggle-active.active
{
    color: #4293C2;
}

.delete-pm
{
  cursor: pointer;  
}

.table td
{
    vertical-align: middle !important;
}

.admin-position
{

}

.dashboard
{
    text-align: center;
}
.dashboard .panel-header
{
    padding: 0;
}

.dashboard .panel-header .panel-box
{
    background-color: #2a80b9;
    color: white;
    font-size: 18px;
    padding: 30px 0;
}

.dashboard .panel-header .panel-box .fa
{
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.dashboard .panel-header .panel-box span
{
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

.dashboard .panel-header .panel-box .panel-label
{
    margin-top: 15px;
    font-weight: 400;
}

.dashboard .graph
{
    margin: 20px 0;
}

.dashboard .logs
{
    min-height: 200px;
    background-color: white;
}

.dashboard .logs .log-header
{
    background-color: #666666;
    color: white;
    text-align: left;
    font-size: 18px;
    vertical-align: middle;
    padding: 10px 20px;
    overflow: auto;
}

.dashboard .logs .log-header button
{
    background-color: #3498DB;
    color: white;
    border: 0;
    vertical-align: middle;
    float: right;
    padding: 5px 20px;
}

.dashboard .logs .log-header .fa
{
    vertical-align: middle;
    margin-right: 10px;
    font-size: 22px;
    display: inline;
}

.dashboard .logs .log-header span
{
    vertical-align: middle;
    display: inline-block;
    margin: 5px 0;
}

.dashboard .logs .log-content
{
    padding: 0 20px;
}

.dashboard .logs .log-content .holder
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.dashboard .logs .log-content .holder .pic
{
    width: 150px;
    display: table-cell;
    vertical-align: top;
    background-color: #bdc3c7;
}

.dashboard .logs .log-content .holder .text
{
    text-align: left;
    display: table-cell;
    vertical-align: top;
    padding: 0 20px;
}

.dashboard .logs .log-content .holder .text .name
{
    font-weight: 700;
    font-size: 18px;
}

.dashboard .logs .log-content .holder .text .email
{
    font-size: 14px;
    color: #898989;
}
.dashboard .logs .log-content .holder .text .do
{
    font-size: 14px;
    color: #4F4E4E;
    font-weight: 600;
}
.dashboard .logs .log-content .holder .text .date
{
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    color: #2c3e50;
    font-weight: 700;
}
.dashboard .logs .log-content .holder .text .time
{
    text-align: right;
    font-size: 14px;
    color: #34495e;
    font-weight: 700;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}